{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>
    {% for message in errArray %}
    <ul>
    <li>{{ message }}</li>
    </ul>
    {% endfor %}

    <form method="post" id="add-person"  action="/submit2">
    Name
    <br>
    <input name="name" id = "name">
    <br>
    <br>
    Hobby
    <br>
    <input name="hobby" id = "hobby">
    <br>
    <br>
    <input type="submit" value = "Add Person">
    </form>

  </div>

{% endblock %}
