
{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>
    <p class="green">The person was added successfully</p>
    <br>
    <br>
    <table  class='table table-striped table-bordered'>
      <tr>
        <th>Name</th>
        <th>Hobby</th>
      </tr>


      {% for peep in peopleArray %}
      <tr>
      <td>{{peep.name}}</td>
      <td>{{peep.hobby}}</td>
      </tr>
      {% endfor %}

 <form method="post" action="/addPeep">
    <input type="submit" value = "Add Another Person">
  </form>

  </div>




{% endblock %}
